
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div class="form-login">
          <h2>Log in</h2>
            <%= simple_form_for @cheval, url: chevals_path, method: :post,  remote: true do |f| %>
			   <%= f.error_notification %>
			  
			   <%= f.input :nom %>
			   <%= f.input :naissance %>
			   <%= f.input :description %>
			   <%= f.button :submit, class: "btn-primary" %>
			   <%= f.button :button, class: "btn-outline-secondary" %>
			<% end %>
      </div>
    </div>
  </div>
</div>